<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/index.css">

        <h1>Welcome to the Shopping Application </h1>

  
        <h3>Email : <%= user_email  %></h2>
        <h3>Admin Access : <%= user_adminCheck%></h2>


        
        <ul>
            <a href ='/logout'>Logout</a>
        </ul>

        
        <% if(user_adminCheck === 'Y'){ %>
        
            <ul>
                <li> <a href ='/AllProduct'>All Product</a></li>
                <li> <a href ='/AddProduct'>Add Product</a></li>
          
                </ul>

        <% } %>    
        <% if(user_adminCheck === 'N'){ %>
            <li> <a  href="/GoToCart" > Go To Cart</a></li>

            <table>
            
            <% for(var i = 0; i < Products.length; i++) { %>
               
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= Products[i].Name %></td>
                        <td><%= Products[i].Price %></td>
                        <td><%= Products[i].Category %></td>
                        <td><img src="<%= Products[i].Image %>" alt="img" width="100" height="100">
                        </td>
                        <td>  
                            
                            <a class="AddtoCart" value="<%= Products[i]._id%>"> Addtocart</a>
                        </td>
                    </tr>
              
            <% } %>
           
        </table>
        <% } %>  

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="/js/index.js"></script>
    </body>
</html>